<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
<div class="container">
        <div class="jumbotron">
            <h1>Welcome to INDIAN TOURISM</h1>
            <p>GIVE YOUR TIME TO YOURSELF THAT CAN YOU LIVE YOUR LIFE IN JOYFULLNESS</p>
            <a class="btn btn-primary btn-lg" href="andaman" role="button">ANDAMAN</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="darjeling" role="button">DARJELING</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="kerela" role="button">KERELA</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="manali" role="button">MANALI</a>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
</div>


</body>
</html>